openapi: 3.0.0
info:
  title: API infosclientfixe SFR
  version: '1.0'
servers:
  - url: https://selfcare-webservices.sfr.fr/webservices/infosclientfixe/services/rest/1.0
paths:
  '/facture/{ndi}':
    parameters:
      - in: path
        name: ndi
        required: true
        schema:
          type: string
    get:
      parameters:
        - in: query
          name: platform
          required: false
          schema:
           type: string
        - in: query
          name: idFact
          required: false
          schema:
            type: string
        - in: query
          name: type
          required: false
          schema:
            type: string
        - in: query
          name: detail
          required: false
          schema:
           type: string
      responses:
        '200':
          description: Successful Response
  /infosclientfixe:
    get:
      parameters:
        - in: query
          name: platform
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
  '/infosclientfixe/{ndi}':
    parameters:
      - in: path
        name: ndi
        required: true
        schema:
          type: string
    get:
      parameters:
        - in: query
          name: platform
          required: false
          schema:
           type: string
      responses:
        '200':
          description: Successful Response
components:
  securitySchemes:
    casauthenticationtoken:
      type: apiKey
      in: header
      name: casauthenticationtoken
      description: Jeton temporaire d'authentification
security:
  - casauthenticationtoken: []
